<app-home></app-home>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Ação 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ação 2</a>
        </ul>
    </nav>
    <div *ngIf="flag" class="alert alert-success">
      <p>Mensagem enviada com sucesso!</p>
    </div>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label>Número alvo:</label>
          <select class="form-control" name="select" ngModel>
            <option value="{{ person.number }}" *ngFor="let person of list">
              {{ person.name + ' - ' }} {{ person.number | phone }}
            </option>
          </select>
        </div><br>
        <div class="form-group">
          <label>Mensagem:</label>
          <textarea name="message" ngModel class="form-control" rows="4" cols="10" required></textarea>
        </div><br>
        <button class="btn btn-primary btn-custom" [disabled]="!f.valid">Enviar</button>
      </form>
    </main>
  </div>
</div>
